.beFieldsetHidden, #container fieldset.beFieldsetOpen div.beFieldsetHidden { 
	display: none !important; 
}

.beFieldsetFilter.tl_subpanel {
	float: none;
}

.beFieldsetFilter {
	position: relative;
}

.beFieldsetFilter.tl_search .search { 
	width: 35%; 
}

.beFieldsetFilter .clear { 
	background: url('../../../../themes/default/images/close.gif') no-repeat; 
	width: 16px; 
	height: 16px; 
	display: block;
	position: absolute;
	right: 2px;
	top: 8px;
	opacity: 0.6;
}

.beFieldsetFilter .clear:hover {
		opacity: 1;
}

/* make sure beFieldCollapsed work like usual collapsed element */
#container fieldset.beFieldsetCollapsed {
	padding-top: 0;
	padding-bottom: 12px;
	margin-bottom: 0;
}

#container fieldset.beFieldsetOpen {
	padding: 12px 0 26px;
	padding-top: 6px;
}

#container fieldset.beFieldsetCollapsed > div {
	display: none!important;
}

#container fieldset.beFieldsetOpen div {
	display: block!important;
}

#container fieldset.beFieldsetCollapsed > legend {
	background: url('../../../../themes/default/images/palCollapsed.gif') left center no-repeat;
}

#container fieldset.beFieldsetOpen > legend {
	background: url('../../../../themes/default/images/palOpen.gif') left center no-repeat;
}
